@tailwind base;
@tailwind components;
@tailwind utilities;

.lightTheme {
    --background: 255, 255, 255;
    --txt: 0, 0, 0;
    --button: 96, 165, 250;
    --button-text: 255, 255, 255;
    --button-hover: 59, 130, 246;
    --card: 209, 213, 219;
    --card-text: 0, 0, 0;
    --shad: 100, 116, 139;
}

.darkTheme {
    --background: 30, 41, 59;
    --txt: 255, 255, 255;
    --button: 96, 165, 250;
    --button-text: 255, 255, 255;
    --button-hover: 59, 130, 246;
    --card: 106, 118, 136;
    --card-text: 0, 0, 0;
    --shad: 30, 30, 30;
}